.OpenMusicBackdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.OpenMusicOverlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
}
.OpenMusicContent {
  position: relative;
  z-index: 5;
  padding-top: 140px;
  margin-left: 100px;
  display: flex;
}
.OpenMusicContent h1 {
  font-size: 52px;
  margin: 0;
}
.OpenMusicGenres {
  font-weight: lighter;
  margin-top: 0;
  font-size: 18px;
}
.OpenMusicPoster {
  width: 450px;
}
.OpenMusicPoster img {
  width: 450px;
}
.OpenMusicInfo {
  padding: 0 100px;
  width: 100%;
}
.OpenMusicDesc {
  font-size: 26px;
  font-weight: lighter;
  margin-bottom: 30px;
}
.Container {
  position: relative;
  height: 300px;
}
.OpenMusicActors {
  position: absolute;
  overflow-x: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  scrollbar-width: thin;
  scrollbar-color: #e5a00d black;
}
.OpenMusicVideos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 350px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #e5a00d black;
}
.OpenMusicReviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.AlbumSelected {
  width: 100px;
  height: 100px;
}
.AlbumsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 30px 0;
}
.RelatedArtist {
  margin: 30px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.AlbumsFadeOut {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px 0;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.AlbumsFadeIn {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px 0;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}
.MusicEventsContainer {
  opacity: 1;
}
.MusicEventsFadeOut {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.MusicEventsFadeIn {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}
.OpenMusicPosterMobile {
  display: none;
}
.TopTracks {
  display: none;
}
@media (max-width: 1600px) {
  .OpenMusicPoster {
    width: 350px;
  }
  .OpenMusicPoster img {
    width: 350px;
  }
  .OpenMusicInfo {
    padding: 0 50px;
  }
  .OpenMusicContent {
    margin-left: 50px;
  }
}
@media (max-width: 1410px) {
  .OpenMusicPoster {
    width: 300px;
  }
  .OpenMusicPoster img {
    width: 300px;
  }
}
@media (max-width: 1090px) {
  .OpenMusicDesc {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
  }
  .LeftSide {
    display: none;
  }
  .OpenMusicPoster {
    display: none;
  }
  .OpenMusicPosterMobile {
    display: block;
    height: 100px;
    margin-right: 20px;
  }
  .OpenMusicPosterMobile img {
    height: 100%;
  }
  .OpenMusicContent h1 {
    font-size: 34px;
  }
  .OpenMusicDesc {
    font-size: 20px;
  }
  .MobileDescription {
    display: flex;
    margin-bottom: 26px;
  }
  .OpenMusicContent {
    margin-left: 0;
  }
  .TopTracks {
    display: block;
    margin: 30px 0;
  }
  .OpenMusicContent {
    padding-top: 60px;
  }
}
@media (max-width: 768px) {
  .OpenMusicInfo {
    padding: 0 25px;
  }
  .OpenMusicContent h1 {
    font-size: 26px;
  }
  .OpenMusicGenres {
    font-size: 16px;
  }
  .OpenMusicDesc {
    font-size: 18px;
  }
}
@media (max-width: 560px) {
  .AlbumsContainer {
    justify-content: space-evenly;
  }
  .RelatedArtist {
    justify-content: space-evenly;
  }
  .OpenMusicContent {
    padding-top: 60px;
  }
}
@media (max-width: 500px) {
  .OpenMusicInfo {
    padding: 0;
  }
  .OpenMusicVideos {
    padding: 10px;
  }
  .OpenMusicPosterMobile {
    display: none;
  }
  .OpenMusicDesc {
    margin: 18px;
  }
}
