.Genre {
  height:50px;
  width:180px;
  display:flex;
  align-items:center;
  justify-content:center;
  background-repeat: no-repeat;
  background-size:50% ;
  background-position:center;
  margin:20px;
  position:relative;
  border-radius:10px;
  cursor:pointer;
  border:1px solid #66b3ff;
  border-radius:30px;
}