.rbc-calendar {
  color: #ccc;
  margin-top: 30px;
  width: 100%;
  height: 80vh;
  position: relative;
}
.rbc-day-slot .rbc-timeslot-group:first-child .rbc-time-slot:first-child {
  border-top: none;
}
.rbc-header {
  padding: 10px;
  font-family: 'Segoe UI';
  font-size: 16px;
  border-left: none;
  border-bottom: 5px solid #262f3d;
}
.rbc-header + .rbc-header {
  border-left: none;
}
.rbc-month-row + .rbc-month-row {
  border-color: #262f3d;
}
.rbc-day-bg + .rbc-day-bg {
  border-color: #262f3d;
}
.rbc-day-bg:hover {
  cursor: url('../../assets/images/cursor-add-icon.svg');
}
.rbc-day-slot .rbc-event {
  min-height: 4%;
  line-height: initial;
  cursor: pointer;
  z-index: 2;
  border-color: rgba(0, 0, 0, 0.2);
}
.rbc-day-slot .rbc-event-content {
  min-height: initial;
  padding: 1px;
}
.rbc-date-cell {
  color: #8c8c8c;
  font-size: 14px;
  padding: 5px 5px 5px 0;
}
.rbc-date-cell:hover {
  background: #262f3d;
  cursor: pointer;
}
.rbc-month-view {
  border: none;
  border-bottom: 5px solid #262f3d;
}
.rbc-month-row {
  border-right: 1px solid #262f3d;
  border-left: 1px solid #262f3d;
}
.rbc-off-range-bg {
  background: rgba(0, 0, 0, 0.3);
}
.rbc-event {
  border-radius: 0;
  border: none;
  background-color: #903;
  justify-content: center;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.rbc-event:hover {
  background: #265985;
}
.rbc-event-content {
  font-size: 12px;
  color: #e6e6e6;
  padding: 3px;
}
.rbc-today {
  background: #262f3d;
}
.rbc-time-view {
  border: 1px solid #262f3d;
  border-bottom: 5px solid #262f3d;
}
.rbc-time-content,
.rbc-time-column,
.rbc-day-slot .rbc-time-slot,
.rbc-events-container {
  border-color: #262f3d;
}
.rbc-time-header-content,
.rbc-time-header.rbc-overflowing {
  border: none;
}
.rbc-time-header.rbc-overflowing {
  margin: 0 !important;
}
.rbc-day-slot.rbc-time-column {
  background: none;
}
.rbc-time-content > .rbc-today {
  background: none;
}
.rbc-time-content .rbc-label {
  font-size: 12px;
}
.rbc-day-slot .rbc-events-container {
  right: 0;
}
.rbc-time-column {
  background: #262f3d;
}
.rbc-timeslot-group,
.rbc-time-slot {
  border-color: #19212b;
  cursor: copy;
}
.rbc-timeslot-group {
  position: relative;
  z-index: 1;
  border-left: 1px solid #262f3d;
  min-height: 85px;
}
.rbc-time-slot:hover {
  background: #265985;
}
.rbc-toolbar button {
  background: #1a8cff;
  border-color: #0059b3;
  border-top: none;
  border-bottom: none;
  color: #e6e6e6;
  padding: 10px 15px;
  transition: 0.15s background;
}
.rbc-toolbar button:last-child {
  border-right: none;
}
.rbc-toolbar button:first-child {
  border-left: none;
}
.rbc-toolbar button:hover,
.rbc-toolbar button:active:hover,
.rbc-toolbar button.rbc-active:hover,
button.rbc-active {
  cursor: pointer;
  background: #0059b3 !important;
  color: #e6e6e6;
  border-color: #0059b3;
  transition: 0.15s background;
}
.rbc-toolbar-label {
  font-size: 32px;
}
.rbc-overlay {
  background-color: #131920;
  border-top: 2px solid;
  border-left: 2px solid;
  border-color: #262f3d;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.rbc-overlay-header {
  border-bottom: none;
}
.rbc-date-cell > a {
  display: block;
}
.rbc-show-more {
  background: none;
}
.rbc-agenda-view table.rbc-agenda-table,
.rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td,
.rbc-agenda-view table.rbc-agenda-table tbody > tr + tr {
  border-color: #262f3d;
}
.rbc-agenda-date-cell {
  background: #262f3d;
  border-bottom: 1px solid #19212b;
}
.rbc-agenda-view table.rbc-agenda-table tbody > tr > td {
  padding: 10px;
}
.rbc-header {
  cursor: auto;
}
.rbc-time-content {
  border-top: 0;
}
.rbc-allday-cell {
  display: none;
}
.rbc-time-header-gutter {
  border-bottom: 5px solid #262f3d;
}
.rbc-toolbar button {
  padding: 7px 15px;
}
.rbc-toolbar .rbc-btn-group button {
  outline: none;
}
.rbc-row:hover,
.rbc-day-bg:hover {
  cursor: copy;
}
.rbc-time-gutter {
  z-index: 3;
}
@media (max-width: 1090px) {
  .rbc-calendar {
    margin-top: 60px;
    padding: 0 10px;
    height: 80vh;
  }
  .rbc-toolbar {
    justify-content: space-between;
  }
  .rbc-toolbar .rbc-toolbar-label {
    position: absolute;
    top: 0;
    padding: 0;
  }
  .rbc-toolbar .rbc-toolbar-label {
    font-size: 24px;
    top: -50px;
  }
}

@media (max-width: 500px) {
  .rbc-calendar {
    height: 70vh;
  }
  .rbc-time-content::-webkit-scrollbar {
    display: none;
  }
  .rbc-time-content .rbc-label {
    font-size: 10px;
    padding: 0 2px;
  }
  .rbc-header {
    font-size: 10px;
    padding: 5px;
  }
  .rbc-date-cell {
    font-size: 10px;
    padding: 5px 5px 5px 0;
  }
  .rbc-event {
    padding: 2px;
  }
  .rbc-day-slot .rbc-event-content {
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .rbc-event-content {
    font-size: 10px;
    padding: 0;
    white-space: nowrap;
  }
  .rbc-day-slot .rbc-event-label {
    width: 100%;
    padding-right: 0;
  }
  .rbc-event-label {
    font-size: 10px;
  }
  .rbc-btn-group:first-child {
    position: absolute;
    top: -47px;
    right: 0;
  }
  .rbc-toolbar .rbc-btn-group:first-child button {
    background: none;
  }
  .rbc-toolbar .rbc-btn-group:first-child button:first-child {
    border-color: #262f3d;
  }
  .rbc-toolbar .rbc-btn-group:first-child button:last-child {
    border: none;
  }
  .rbc-toolbar .rbc-btn-group:first-child button:hover,
  .rbc-toolbar .rbc-btn-group:first-child button:active:hover {
    background: none !important;
    border-color: #262f3d;
  }
  .rbc-toolbar .rbc-btn-group:first-child > button:not(:first-child) {
    border-color: #262f3d;
    border-width: 2px;
  }
  .rbc-btn-group:last-child {
    width: 100%;
  }
  .rbc-btn-group:last-child button {
    width: 33.3333%;
  }
  .rbc-toolbar .rbc-toolbar-label {
    font-size: 16px;
    font-weight: bold;
    top: -40px;
  }
}
