.OpenTvBackdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.OpenTvOverlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
}
.OpenTvContent {
  position: relative;
  z-index: 5;
  padding-top: 40px;
  margin-left: 250px;
  display: flex;
  margin-bottom: 30px;
}
.OpenTvContent h1 {
  font-size: 52px;
  margin: 0;
}
.OpenTvGenRel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.RelRating {
  margin-top: 3px;
  font-size: 16px;
}
.OpenTvGenres {
  font-weight: lighter;
  margin-top: 0;
  font-size: 18px;
}
.OpenTvPoster {
  margin-right: 50px;
}
.OpenTvPoster .PosterImage {
  width: 200px;
}
.OpenTvInfo {
  padding: 0 100px;
  transform: translateY(-50px);
  transition: transform 0.3s;
  overflow: hidden;
  width: 100%;
}
.ShowSearch {
  transform: translateY(0);
  transition: transform 0.3s;
}
.OpenTvDesc {
  font-size: 26px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.GenRelMobile {
  display: none;
}
.OpenTvOverview {
  font-weight: lighter;
  margin-top: 12px;
  margin-bottom: 0;
}
.MobileDescription {
  display: flex;
  margin-bottom: 30px;
}
.Container {
  position: relative;
  height: 300px;
}
.OpenTvActors {
  margin: 30px 0;
  width: 100%;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  transition: opacity 0.5s 0.5s;
}
.OpenTvActorsAlignFlex::after {
  content: '';
  flex: auto;
  width: 170px;
  max-width: 170px;
}
.OpenTvVideos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0;
  width: 100%;
}
.OpenTvVideosAlignFlex::after {
  content: '';
  flex: auto;
  width: 240px;
  max-width: 240px;
}
.OpenTvReviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0;
}
.OpenTvPosterMobile {
  display: none;
}
.Seasons {
  margin: 30px 0 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.FadeOut {
  opacity: 0;
  transition: 0.5s;
}
.FadeIn {
  opacity: 1;
  transition: 0.5s;
}
.FavoriteIcon {
  position: absolute;
  top: 30px;
  right: 150px;
  font-size: 32px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s;
}
.FavoriteIcon:hover {
  color: #ff1a66;
  transition: color 0.3s;
}
.FavoritedIcon {
  position: absolute;
  top: 30px;
  right: 150px;
  font-size: 32px;
  color: #ff1a66;
  cursor: pointer;
}
.WatchlistIcon {
  position: absolute;
  top: 30px;
  right: 90px;
  font-size: 32px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s;
}
.WatchlistIcon:hover {
  color: #ffcc00;
  transition: color 0.3s;
}
.WatchlistSelectedIcon {
  position: absolute;
  top: 30px;
  right: 90px;
  font-size: 32px;
  color: #ffcc00;
  cursor: pointer;
}
.SearchIcon {
  position: absolute;
  top: 30px;
  right: 210px;
  font-size: 32px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s;
}
.SearchIcon:hover {
  color: #1a8cff;
  transition: color 0.3s;
}
.SearchIconSelected {
  position: absolute;
  top: 30px;
  right: 210px;
  font-size: 32px;
  color: #1a8cff;
  cursor: pointer;
  transition: color 0.3s;
}
.CalendarIcon {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 32px;
  color: #ccc;
  cursor: pointer;
}
.CalendarIcon:hover {
  color: #fd7e14;
  transition: color 0.3s;
}
.CalendarSelectedIcon {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 32px;
  color: #fd7e14;
  cursor: pointer;
}
.NavRight {
  float: right;
  display: flex;
  align-items: center;
  height: 52px;
}
.MoreLess {
  margin-right: 50px;
  cursor: pointer;
}
.More {
  margin-right: 93px;
}
@media (max-width: 1600px) {
  .OpenTvInfo {
    padding: 0 50px;
  }
}
@media (max-width: 1366px) {
  .FavoriteIcon,
  .FavoritedIcon {
    top: 10px;
    right: 80px;
    font-size: 26px;
  }
  .WatchlistIcon,
  .WatchlistSelectedIcon {
    top: 10px;
    right: 30px;
    font-size: 26px;
  }
  .SearchIcon,
  .SearchIconSelected {
    top: 10px;
    right: 130px;
    font-size: 26px;
  }
  .OpenTvContent h1 {
    font-size: 30px;
  }
  .OpenTvPoster .PosterImage {
    width: 150px;
  }
  .OpenTvDesc {
    margin-left: 20px;
    font-size: 22px;
  }
}
@media (max-width: 1090px) {
  .OpenTvPosterMobile img {
    height: 100%;
  }
  .OpenTvContent h1 {
    font-size: 34px;
  }
  .OpenTvDesc {
    font-size: 20px;
  }
  .OpenTvContent {
    margin-left: 0;
    padding-top: 86px;
  }
  .OpenTvInfo {
    margin-top: 50px;
    padding: 0 25px;
  }
  .SearchIcon {
    display: none;
  }
}
@media (max-width: 768px) {
  .FavoriteIcon,
  .FavoritedIcon {
    top: 5px;
    right: 80px;
    font-size: 26px;
  }
  .WatchlistIcon,
  .WatchlistSelectedIcon {
    top: 5px;
    right: 30px;
    font-size: 26px;
  }
  .Seasons {
    margin: 30px 10px 10px 10px;
  }
  .OpenTvInfo {
    padding: 0 25px;
  }
  .OpenTvContent h1 {
    font-size: 26px;
  }
  .OpenTvGenres {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .OpenTvDesc {
    font-size: 18px;
  }
  .OpenTvGenRel {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 500px) {
  .GenRelShow,
  .RelRatingShow {
    display: none;
  }
  .GenRelMobile {
    display: block;
    margin-left: 10px;
    color: #ccc;
  }
  .GenRelMobile .OpenTvGenres {
    margin-bottom: 0;
    font-weight: normal;
    color: #ccc;
  }
  .MoreLess {
    margin-right: 20px;
  }
  .More {
    margin-right: 63px;
  }
  .FavoriteIcon,
  .FavoritedIcon {
    top: 5px;
    right: 50px;
    font-size: 20px;
  }
  .WatchlistIcon,
  .WatchlistSelectedIcon {
    top: 5px;
    right: 10px;
    font-size: 20px;
  }
  .SearchIcon,
  .SearchIconSelected {
    top: 5px;
    right: 90px;
    font-size: 20px;
  }
  .MoreLess {
    margin-right: 50px;
    cursor: pointer;
  }
  .More {
    margin-right: 93px;
  }
  .OpenTvMobile {
    display: flex;
    align-items: center;
  }
  .OpenTvMobile h1 {
    font-size: 20px;
    margin-left: 10px;
  }
  .OpenTvPoster {
    display: none;
    width: 50px;
  }
  .OpenTvPoster .PosterImage {
    width: 50px;
  }
  .OpenTvInfo {
    padding: 0;
    margin-top: 110px;
  }
  .OpenTvOverview {
    font-size: 16px;
    font-weight: normal;
    color: #ccc;
  }
  .OpenTvVideos {
    padding: 10px 0;
    margin: 0;
    justify-content: space-around;
  }
  .OpenTvPosterMobile {
    display: block;
    width: 50px;
  }
  .OpenTvPosterMobile img {
    width: 100%;
    height: auto;
  }
  .OpenTvDesc {
    margin: 18px;
  }
  .OpenTvContent {
    padding-top: 0;
  }
  .MobileDescription {
    margin-bottom: 0;
  }
  .OpenTvActors {
    margin: 0;
    padding: 10px;
  }
}
