.Episode {
  display:flex;
  /* align-items:center; */
  width:23%;
  /* background:rgba(0,0,0,0.85); */
  background:#262F3D;
  border-radius:10px;
  margin:40px 10px 0 10px;
  flex-direction:column;
}
.Episode h3 {
  margin:10px;
}
.EpisodeInfo {
  padding:15px;
  font-weight:lighter;
}
.TvEpisodes {
  display:flex;
  justify-content: space-between;
}
.Thumb {
  position:relative;
}
.Thumb img {
  width:100%;
  
}
.Thumb .EpisodeName {
  position:absolute;
  background:rgba(0,0,0,0.2);
  padding:10px;
  width:100%;
  top:0;
}
.EpisodeNumber {
  padding:10px;
}

@media (max-width: 1366px) {
  .Episode {
    width:30%;
  }
}

@media (max-width: 768px) {
  .Episode {
    width:45%;
  }
}
@media (max-width: 500px) {
  .Episode {
    width:100%;
  }
}