.Seasons {
  margin: 30px 0 10px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  right: 0;
  transition: right 0.4s linear;
}
.NavRight {
  float: right;
  display: flex;
  align-items: center;
  height: 52px;
}
.MoreLess {
  margin-right: 50px;
  cursor: pointer;
}
.More {
  margin-right: 93px;
}
.FadeOut {
  opacity: 0;
  transition: 0.5s;
}
.FadeIn {
  opacity: 1;
  transition: 0.5s;
}
@media (max-width: 768px) {
  .MoreLess {
    margin-right: 20px;
  }
  .More {
    margin-right: 63px;
  }
}
