.Tracks {
  display: flex;
  padding: 7px 0;
}
.Thumb {
  margin-right: 10px;
}
.TrackInfo {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
.AlbumName {
  font-style: italic;
  font-size: 14px;
}
.PlayIcon {
  float: right;
  font-size: 24px;
  cursor: pointer;
}
