.MovieDetails {
  width: 100%;
  height: 75px;
  padding: 5px 5px 0 5px;
  box-sizing: border-box;
}
.MovieDetails .Title {
  font-weight: bold;
  margin: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.MovieDetails .ReleaseDate {
  font-size: 14px;
  margin-top: 5px;
  font-weight: lighter;
}
.MovieDetails .Summary {
  margin-bottom: 5px;
}
.Rating {
  font-style: normal;
}
.ScoresOverride {
  font-size: 14px !important;
}
@media (max-width: 1366px) {
  .MovieDetails .Title {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .MovieDetails {
    height: initial;
  }
  .MovieDetails .Title {
    white-space: break-spaces;
    max-height: 31px;
  }
  .MovieScores {
    display: none;
  }
  .Rating {
    display: none;
  }
  .MovieDetails .ReleaseDate {
    display: none;
  }
}
