.VideoModal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 19;
  margin: auto;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.9);
  z-index: 200;
}
.Close {
  height: 22px;
  width: 22px;
  cursor: pointer;
  right: 80px;
  top: 40px;
  z-index: 35;
  position: absolute;
  margin: auto;
  background: #fff;
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CloseIcon {
  color: #990033;
  font-size: 26px;
}
.VideoEmbed {
  height: 80%;
  width: 80%;
  margin: auto;
}
@media (max-width: 1090px) {
  .VideoModal {
    top: 30px;
  }
}
