.Movie {
  cursor: pointer;
}
.Movie .Poster {
  height: 450px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
}
.Movie .Poster img {
  width: 100%;
  max-height: 100%;
}
.Movie .Poster img.Network {
  position: absolute;
  height: 16px;
  padding: 5px;
  background: #fff;
  width: initial;
  right: 0;
  bottom: 0;
}
@media (max-width: 1366px) {
  .Movie {
    width: 220px;
    height: 400px;
  }
  .Movie .Poster {
    height: 330px;
  }
}
@media (max-width: 768px) {
  .Movie {
    width: 200px;
    height: 370px;
  }
  .Movie .Poster {
    height: 300px;
  }
}
@media (max-width: 500px) {
  .Movie .Poster {
    height: initial;
    background-size: contain !important;
  }
  .Movie .Poster img.Network {
    height: initial;
    max-width: 60%;
  }
}
