.SearchForm {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}
.Input {
  width: 100%;
  padding: 3px 40px 3px 20px;
  border-radius: 20px;
  height: 30px;
  font-size: 16px;
}
.Input::placeholder {
  font-style: italic;
}
.SearchIcon {
  position: absolute;
  right: 15px;
  /* height: 100%; */
  color: #000;
  cursor: pointer;
  font-size: 20px;
}
@media (max-width: 500px) {
  .Input {
    height: 30px;
  }
}





/* .SearchForm {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}
.Input {
  width: 100%;
  padding: 3px 40px 3px 20px;
  border-radius: 20px;
  height: 30px;
  font-size: 16px;
}
.Input::placeholder {
  font-style: italic;
}
.SearchIcon {
  position: absolute;
  right: 15px;
  height: 100%;
  color: #000;
  cursor: pointer;
  font-size: 20px;
}
@media (max-width: 500px) {
  .Input {
    height: 30px;
  }
} */
