.Scores {
  margin-top: 3px;
  display: flex;
}
.Score {
  display: flex;
  align-items: center;
  margin-right: 15px;
  font-size: 16px;
}
.ImdbIcon {
  height: 30px;
  margin-right: 5px;
}
.RtIcon {
  height: 22px;
  margin-right: 5px;
}
.McIcon {
  height: 22px;
  margin-right: 5px;
}
@media (max-width: 500px) {
  .Scores {
    font-weight: normal;
    display: none;
  }
}
