.NavBar {
  position: fixed;
  width: 100%;
  text-align: center;
  background: #000;
  z-index: 300;
  top: 0;
  align-items: center;
  justify-content: center;
  height: 60px;
  box-sizing: border-box;
  border-bottom: 1px solid #4d4d4d;
  display: none;
}
.NavBar h2 {
  margin: 0;
}

.NavSearch {
  height: 0;
  position: relative;
  top:0;
  z-index: 10;
  transition: all 0.3s ;
  max-width:300px;
  margin: auto;
  display: none;
}

.NavSearchOpen {
  height:60px;
  top: 60px;
}


.SearchIcon {
  color: #fff;
  position:absolute;
  right:30px;
  font-size:24px;
  cursor:pointer;
  transition: color 0.3s;
}
.SearchIcon:hover {
  color: #1a8cff;
  transition: color 0.3s;
}

.MenuIcon {
  cursor: pointer;
  font-size: 26px;
  position: absolute;
  right: 130px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.NavBarLeft {
  position: absolute;
  left: 130px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
}
.BackIcon {
  font-size: 22px;
  margin-right: 20px;
  cursor: pointer;
}
.BackIconHide {
  display: none;
}
.MenuDropdown {
  position: fixed;
  background: #000;
  top: 60px;
  right: -180px;
  width: 180px;
  z-index: 20;
  transition: transform 0.3s ease-out;
}
.MenuDropdownActive {
  transform: translateX(-180px);
}
.MenuDropdown ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.MenuDropdown ul li {
  padding: 10px;
  padding-left: 30px;
  border-bottom: 1px solid #1a1a1a;
}
.MenuDropdown ul li:first-child {
  border-top: 1px solid #1a1a1a;
}
.MenuDropdown .NavItem {
  text-decoration: none;
  color: #fff;
}
/* @media (max-width: 1366px) {
  .MenuIcon {
    right: 60px;
  }
  .NavBarLeft {
    left: 60px;
  }
} */
@media (max-width: 1090px) {
  .NavBar {
    display: flex;
  }
  .NavSearch {
    display: block;
  }
  .NavSearchOpen {
    height:60px;
    top: 70px;
  }
}
@media (max-width: 500px) {
  .MenuIcon {
    right: 20px;
  }
  .NavBarLeft {
    left: 20px;
  }
  .NavSearchOpen {
    height:60px;
    top: 60px;
  }
}
