.OpenMovieBackdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.OpenMovieOverlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
}
.OpenMovieContent {
  position: relative;
  z-index: 5;
  padding-top: 200px;
  margin-left: 100px;
  display: flex;
}
.OpenMovieContent h1 {
  font-size: 52px;
  margin: 0;
}
.OpenMovieGenres {
  font-weight: lighter;
  margin-top: 0;
  font-size: 18px;
}
.OpenMoviePoster {
  width: 450px;
}
.OpenMoviePoster img {
  width: 450px;
}
.OpenMovieInfo {
  padding: 0 100px;
}
.OpenMovieDesc {
  font-size: 26px;
  font-weight: lighter;
}
.Container {
  position: relative;
  height: 300px;
}
.OpenMovieActors {
  position: absolute;
  overflow-x: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  scrollbar-width: thin;
  scrollbar-color: #e5a00d black;
}
.OpenMovieVideos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 350px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #e5a00d black;
}
.OpenMovieReviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
