.Home {
  margin: 70px 100px 100px 350px;
}
.SectionHeaderSearch h2 {
  display:flex;
  margin: 0 10px 10px 10px;
  padding:10px 20px 10px 20px;
  justify-content:space-between;
  align-items:center;
}
@media (max-width: 1600px) {
  .Home {
    margin: 70px 50px 100px 300px;
  }
}
@media (max-width: 1090px) {
  .Home {
    margin: 100px 50px 100px 50px;
  }
}
@media (max-width: 500px) {
  .Home {
    margin: 60px 0;
  }
}