.OpenMovieBackdrop {
  position:fixed;
  height:100%;
  width:100%;
  background-size:cover;
  background-position:center;
}
.OpenMovieOverlay {
  position:fixed;
  height:100%;
  width:100%;
  background-color:rgba(0,0,0,0.8);
  z-index:3;
}
.OpenMovieContent {
  position:relative;
  z-index:5;
  padding-top:86px;
  margin-left:250px;
  display:flex;
}
.OpenMovieContent h1 {
  font-size:52px;
  margin:0;
}
.OpenMovieGenRel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.RelRating {
  /* margin-top:3px; */
  font-size:16px;
}
.OpenMovieGenres {
  font-weight:lighter;
  margin-top:0;
  font-size:18px;
}




.OpenMoviePoster {
  /* min-width:450px; */
}
.OpenMoviePoster .PosterImage {
  /* width:450px;
  position:fixed; */

  width:200px;
}




.OpenMovieInfo {
  padding: 0 100px;
}
.OpenMovieDesc {
  font-size:26px;
  font-weight:lighter;
  display:flex;
  flex-direction:column;
  margin-left:50px;
}
.MobileDescription {
  display:flex;
  margin-bottom:26px;
}
.Container {
  position:relative;
  height:300px;
}
.OpenMovieActors {
  margin:30px 0;
  width:100%;
  display:flex;
  justify-content:space-between;
  flex-wrap: wrap;
  box-sizing:border-box;
}
.OpenMovieActorsAlignFlex::after {
  content: "";
  flex: auto;
  width:170px;
  max-width:170px;
}
.OpenMovieVideos {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin:30px 0;
  width:100%;
}
.OpenMovieVideosAlignFlex::after {
  content: "";
  flex: auto;
  width:240px;
  max-width:240px;
}
.OpenMovieReviews {
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
  margin:30px 0;
}
.OpenMoviePosterMobile {
  display: none;
}







@media (max-width: 1600px) {
  /* .OpenMoviePoster {
    min-width:350px;
  }
  .OpenMoviePoster .PosterImage {
    width:350px;
  } */
  .OpenMovieInfo {
    padding: 0 50px;
  }
  /* .OpenMovieContent {
    margin-left:250px;
  } */
}

@media (max-width: 1366px) {
  /* .OpenMoviePoster {
    min-width:300px;
  }
  .OpenMoviePoster .PosterImage {
    width:300px;
  } */
  .OpenMovieContent h1 {
    font-size:30px;
  }
  .OpenMoviePoster .PosterImage {
    width:150px;
  }
  .OpenMovieDesc {
    margin-left:20px;
    font-size:22px;
  }
  /* .OpenMoviePoster img {
    width:150px;
  } */
}

@media (max-width: 1090px) {
  /* .OpenMoviePoster {
    display:none;
  } */
  /* .OpenMoviePosterMobile {
    display:block;
    height:240px;
    margin-right:20px;
  } */
  .OpenMoviePosterMobile img {
    height:100%;
  }
  .OpenMovieContent h1 {
    font-size:34px;
  }
  .OpenMovieDesc {
    font-size:20px;
  }
  /* .MobileDescription {
    display:flex;
    margin-bottom:26px;
  } */
  .OpenMovieContent {
    margin-left:0;
  }
  .OpenMovieInfo {
    padding: 0 25px;
  }
}


@media (max-width: 768px) {
  .OpenMovieInfo {
    padding: 0 25px;
  }
  .OpenMovieContent h1 {
    font-size:26px;
  }
  .OpenMovieGenres {
    font-size:14px;
    margin-bottom:5px;
  }
  .OpenMovieDesc {
    font-size:18px;
  }
  .OpenMovieGenRel {
    flex-direction:column;
    align-items:flex-start;
  }
}

@media (max-width: 500px) {
  .OpenMovieMobile {
    display:flex;
    align-items:center;
  }
  .OpenMovieMobile h1 {
    font-size:20px;
    margin-left:10px;
  }
  .OpenMoviePoster {
    display:none;
    width:50px;
  }
  .OpenMoviePoster .PosterImage {
    width:50px;
  }
  .OpenMovieInfo {
    padding:0;
  }
  .OpenMovieOverview {
    font-size:16px;
  }
  .OpenMovieVideos {
    padding:10px 0;
    margin:0;
    justify-content:space-around;
  }
  .OpenMoviePosterMobile {
    display:block;
    width:50px;
  }

  .OpenMoviePosterMobile img {
    width:100%;
    height:auto;
  }


  .OpenMovieDesc {
    margin:18px;
  }
  .OpenMovieContent {
    padding-top:60px;
  }
  .MobileDescription {
    margin-bottom:0;
  }
  .OpenMovieActors {
    margin:0;
    padding:10px;
  }
  
}