.Network {
  height: 100px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  margin: 20px;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;
  border: 3px solid transparent;
  transition: border-color 0.3s;
}
.NetworkClicked {
  background: #ffccdd;
}
.Network img {
  width: 80%;
}
.NetworkHover:hover {
  border-width: 3px !important;
  border-color: #1a8cff !important;
  transition: border-color 0.3s;
}
.Hide {
  display: none;
}
@media (max-width: 1090px) {
  .Network {
    height: 80px;
    width: 120px;
  }
}
@media (max-width: 768px) {
  .Network {
    height: 66px;
    width: 100px;
  }
}
@media (max-width: 768px) {
  .Network {
    height: 50px;
    width: 75px;
    margin: 10px;
  }
}
