.Home {
  margin: 0 100px 100px 350px;
  /* margin: 70px 100px 100px 350px; */
}
.SectionHeaderSearch h2 {
  display:flex;
  margin: 0 10px 10px 10px;
  padding:10px 20px 10px 20px;
  justify-content:space-between;
  align-items:center;
}
.MoviesIcon {
  margin-left: 10px;
  margin-top: 2px;
  font-size: 26px;
}
.TvIcon {
  margin-left: 10px;
  margin-top: 2px;
  font-size: 20px;
}
@media (max-width: 1600px) {
  .Home {
    margin: 0 50px 100px 300px;
    /* margin: 70px 50px 100px 300px; */
  }
}
@media (max-width: 1090px) {
  .Home {
    /* margin: 60px 50px 100px 50px; */
    margin: 60px 0;
  }
}
@media (max-width: 500px) {
  /* .Home {
    margin: 60px 0;
  } */
  .TvIcon {
    margin-right: 10px;
  }
}