.TvSeasonContainer {
  background:rgba(0,0,0,0.85);
  border-radius:10px;
  width:30%;
  margin-bottom:30px;
}
.TvSeason {
 /* margin: 10px 0; */
  display:flex;
  /* border-bottom:1px solid #fff; */
  /* box-sizing:border-box; */
  padding: 20px;
}
.TvSeason img {
  height:150px;
  /* max-width:92px;
  min-width:92px; */
}



.Details {
  margin-left:20px;
  display:flex;
  flex-direction:column;
  width:100%;
}
.Details h3 {
  margin:0;
  /* font-weight:normal; */
  width:100%;
}
.Details hr {
  width:100%;
}
.Overview {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  height:100%;
  font-size:14px;
  /* overflow:scroll;
  height:80px; */
}

.ViewEpisodes {
  font-weight: bold;
  cursor:pointer;
  color: #66b3ff;
  margin-top:5px;
  font-size:14px;
}



.TvEpisodes {
  padding: 20px;
}

.OverviewInfo {
  overflow:auto;
  height:80px;
}



@media (max-width: 1366px) {
  .TvSeasonContainer {
    width:47%;
  }
}

@media (max-width: 768px) {
  .TvSeasonContainer {
    width:100%;
  }
}