.SearchResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 30px 0 280px;
}
.SearchResultsFor {
  text-align: center;
  margin: 50px 0 40px 250px;
}
.NavSearch {
  width: 250px;
  position: relative;
  margin: auto;
  margin-bottom: 10px;
  display: none;
}
@media (max-width: 1090px) {
  .NavSearch {
    display: block;
  }
  .NavSearch input {
    display: block;
    height: 30px;
    font-size: 18px;
  }
  .NavSearch svg {
    display: block;
  }
  .SearchResults {
    margin: 50px 0;
  }
  .SearchResultsFor {
    margin: 110px 0 50px 0;
  }
}
@media (max-width: 500px) {
  .SearchResults {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 10px 0 10px;
    justify-content: space-evenly;
  }
  .SearchResultsFor {
    margin: 80px 0 30px 0;
  }
}
