.EditEventInfo {
  display: flex;
  flex-direction: column;
  height: 100%;
}
label {
  width: 120px;
  margin: 0;
}
textarea {
  height: 100%;
}
input,
textarea {
  padding: 5px;
}
.Row {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.Row.Description {
  align-items: flex-start;
  flex-grow: 1;
  margin-bottom: 50px;
}
.UpdateCancel {
  position: absolute;
  bottom: 10px;
  right: 0;
}
.UpdateCancel span {
  margin-right: 10px;
}
.Update,
.Cancel {
  cursor: pointer;
  display: inline-block;
}
.Update {
  padding-right: 15px;
  border-right: 2px solid #4d4d4d;
}
.Cancel {
  padding-left: 15px;
}
.DoneIcon,
.CancelIcon {
  font-size: 14px;
}
