.Search {
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  position:absolute;
  top:50%;
  z-index:10;
  padding:0 40px;
  box-sizing:border-box;
}

.SearchForm {
  position:relative;
}

.Input {
  height:30px;
  width:200px;
  font-size:18px;
  padding:3px 40px 3px 20px;
  border-radius:20px;
  position:relative;
}
.Input::placeholder {
  font-style:italic;
}

.Submitted {
  display:none;
  top: 80px;
  animation-name: inputUp;
  animation-duration: 0.3s;
  animation-timing-function:linear;
}

.SubmittedResults {
  justify-content:center;
}

.SearchIcon {
  position:absolute;
  right:15px;
  height:100%;
  color:#000;
  cursor:pointer;
  font-size:22px;
}

.BackIcon {
  font-size:36px;
  cursor:pointer;
}

.BackIconHide {
  display:none;
}

.SearchType {
  text-align:center;
  position:absolute;
  font-weight:lighter;
  top:-60px;
  left:0;
  right:0;font-size:30px;
}
.SearchTypeIcon {
  margin-right:10px;
  font-size:26px;
}

/* button {
  display:none;
}
.RightDiv {
  display:none;
}
.ButtonShow, .DivShow {
  display:block;
} */


.RightDiv {
  display:none;
}
.DivShow {
  display:block;
}



@keyframes inputUp {
  from {top: 50%;}
  to {top: 60px}
}





@media (max-width: 1090px) {
  .Search {
    display:flex;
    margin:auto;
    left:0;
    right:0;
  }
  .Input {
    height:initial;
    font-size:16px;
  }
  .SearchIcon {
    font-size:16px;
  }
}


@media (max-width: 1090px) {
  .Input {
    height:30px;
    font-size:18px;
  }
  


}