.AccountInfo {
  color: #ccc;
  width:400px;
  
}
.EmailAddress,
.DisplayName {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.EditIcon {
  padding-left: 30px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 3px;
}
.EmailConfirm,
.DisplayNameConfirm {
  display: none;
  margin-left: 30px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 3px;
}
.row {
  margin-bottom: 20px;
}
.ClearInput {
  background: rgba(0, 0, 0, 0);
  color: #ccc;
  font-size: 24px;
  border: none;
  padding: 0;
  width: initial;
  border-radius: 0;
  /* display: none; */
}
.ClearInput:focus {
  outline-width: 0;
}
.ChangePassword input {
  margin-bottom: 15px;
}
.ChangePasswordButton {
  color: #ffdb00;
  font-style: italic;
  cursor: pointer;
}
.ChangePassword {
  overflow: hidden;
  height: 0;
  transition: all 0.3s linear;
}
.ChangePasswordShow {
  height: 200px;
  transition: all 0.3s linear;
}
.ChangePassword label {
  margin-bottom: 5px;
}
