.Auth {
  padding: 20px 0 0 0;
}
.SearchForm {
  display: flex;
  align-items: flex-end;
  height: 100%;

  position: relative;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
}
.Input {
  padding: 7px 40px 7px 20px;
  border-radius: 20px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
}
.Input::placeholder {
  font-style: italic;
}
.ButtonBlue {
  margin-top: 5px;
  color: #fff;
  text-decoration: none;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background: #66b3ff;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
}
.AuthError {
  color:#ffdb00;
  /* font-weight:bold; */

  /* color: #D4AA03; */
  margin-bottom:7px;
  width: 100%;
  text-align: center;
  font-style: italic;
}
