.HomeLinksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  height: 200px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.HomeLinks {
  margin: auto;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.HomeLink {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  padding: 0 20px;
  height: 60px;
  width: 160px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin: 0 20px;
}
