.ActorThumb {
  cursor: pointer;
}
.ActorThumb .Poster {
  height: 450px;
  background: #262f3d;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.ActorThumb .Poster img {
  width: 100%;
  max-height: 100%;
}
.NameChar {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 5px;
}
.CharName {
  color: #ccc;
  font-style: italic;
}
@media (max-width: 1366px) {
  .ActorThumb {
    width: 220px;
    height: 400px;
  }
  .ActorThumb .Poster {
    height: 330px;
  }
}
@media (max-width: 768px) {
  .ActorThumb {
    width: 200px;
    height: 370px;
  }
  .ActorThumb .Poster {
    height: 300px;
  }
}
@media (max-width: 500px) {
  .ActorThumb .Poster {
    height: initial;
    background-size: contain !important;
  }
  .NameChar {
    font-size: 12px;
    margin-top: 5px;
  }
  .CharName {
    display: none;
  }
}
@media (max-width: 410px) {
  .ActorThumb {
    width: 100%;
    height: initial;
  }
  .ActorThumb .Poster {
    height: initial;
    background-size: contain !important;
  }
}
