.ActorThumb {
  max-width: 150px;
  margin: 10px;
  cursor: pointer;
}
.ActorThumbContainer {
  min-height: 226px;
  min-width: 150px;
  display: flex;
  align-items: center;
}
.ActorPic {
  max-width: 150px;
}
.ActorName {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.CharacterName {
  font-size: 14px;
  font-style: italic;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (max-width: 1366px) {
  .ActorPic {
    max-width: 120px;
  }
  .ActorThumb {
    max-width: 120px;
    min-height: 180px;
  }
  .ActorThumbContainer {
    min-height: 180px;
    min-width: 120px;
  }
}
@media (max-width: 500px) {
  .ActorPic {
    max-width: 100px;
  }
  .ActorThumb {
    max-width: 100px;
    min-height: 180px;
  }
  .ActorThumbContainer {
    min-height: 150px;
    min-width: 100px;
  }
}
